:root {
    --primary-yellow: #EAB530;
    --secondary-red: #a63a05;
    --tertiary-green: #637D35;
    --white: #fefefe;
    --dark: #332a27;
    --light: #f5f3EF;
    --primary-font: 'Merriweather', 'Georgia', serif;
    --secondary-font: 'Poppins', 'Futura', 'Century Gothic', sans-serif;
    --shadow: rgba(51, 42, 39, 0.2);
}

body {
    background-color: var(--light);
    margin: 0 auto;
    padding: 0;
    font-family: var(--primary-font);
}

a {
    color: var(--secondary-red);
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: var(--secondary-red);
    text-decoration: none;
}

a:active {
    color: var(--tertiary-green);;
}

header {
    background-color: var(--primary-yellow);
}

h1 {
    font-family: var(--primary-font);
    font-size: 80px;
    line-height: 80px;
    font-weight: 900;
    font-style: normal;
    padding: 16px;
    color: var(--dark);
    margin-bottom: -16px;
}

h2 {
    font-family: var(--primary-font);
    font-size: 56px;
    font-weight: 600;
    padding: 16px;
    color: var(--secondary-red);
    font-style: normal;
}

h3 {
    max-width: 640px;
    padding: 16px;
    color: var(--dark);
    font-family: var(--secondary-font);
}

/* media queries for scaling h sizes for mobile */
@media (max-width: 520px) {
    h1 {
        font-size: 64px;
        line-height: 64px;
    }
    h2 {
        font-size: 40px;
    }
}

@media (max-width: 399px) {
    h1 {
        font-size: 56px;
        line-height: 56px;
    }
    h2 {
        font-size: 40px;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 48px;
        line-height: 48px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 20px;
    }
}

h3 {
    max-width: 640px;
    padding: 16px;
    color: var(--dark);
    font-family: var(--secondary-font);
    font-weight: 300;
}

footer {
    text-align: center;
    font-family: var(--secondary-font);
    padding: 16px;
    margin: 80px 0px 24px 0px;
}
/* nav links in footer */
.text-body-secondary.nav-link {
    font-size: 16px!important;
}

.border-top {
    border-color: var(--primary-yellow)!important;
}

img.logo {
    max-height: 120px;
    transition: all 0.2s ease-in-out;

}

img.logo:hover {
   opacity: 0.5;
}

img.logo:active {
    background-color: var(--secondary-red);
}

.navbar {
  background-color: var(--primary-yellow) !important;
  margin-bottom: 40px;
}

/* Added custom image for hamburger menu toggler icon */
.navbar-toggler-icon {
    background-image: url(./images/toggle-icon.png);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0px 4px var(--secondary-red);
    padding: 16px;
}

.nav-link {
    color: var(--dark);
    font-size: 24px;
    padding: 8px 24px !important;
}

.nav-link:hover, .nav-link:focus {
    color: var(--secondary-red);
    border-bottom: 1px solid var(--secondary-red);
}

.nav-link:active {
    color: var(--secondary-red);
    font-weight: 900;
}

/* Media query to centre align toggle icon in mobile view */
@media (max-width: 450px) {
    .navbar-toggler {
        margin: 0 auto;
    }
}

.hero {
    margin-top: 24px;
    margin-bottom: 56px;;
}

.hero-title {
    margin-bottom: 56px;
    text-align: center;
}

.hero-intro {
   margin-bottom: 56px;
   margin-top: 24px;
}

.hero-image {
    transform: rotate(-2deg);
}

/* Booking Section */
.booking {
    max-width: 500px;
    background-color: var(--white);
    padding: 8px 16px 32px 16px;
    border-radius: 20px;
    box-shadow: 4px 4px 16px var(--shadow);
    margin: 0 auto;
    margin-bottom: 56px;
}

.booking h3 {
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--dark);
}

/* Pseudo element for booking heading */
.booking h3:before {
    content:'🍷';
    margin-right: 8px;
}

.booking h3:after {
    content:'✨';
    margin-left: 2px;
}

/* Buttons for booking section */
.btn {
    font-family: var(--secondary-font);
    border-radius: 40px; 
    transition: all 0.1s ease-in-out;
}

.btn:active {
    scale: 0.95
}

.btn-primary {
    background-color: var(--secondary-red) !important;
    border-color: var(--secondary-red) !important;   
}

.btn-primary:hover {
    background-color: var(--primary-yellow) !important;
    color: var(--dark);
    border-color: var(--secondary-red) !important;
    box-shadow: 4px 4px 16px var(--shadow);      
}

.btn-primary:focus {
    box-shadow: 4px 4px 16px var(--shadow) !important;   
}

.btn-primary:active {
    background-color: var(--primary-yellow) !important;
    color: var(--dark);
    border-color: var(--secondary-red) !important;
    box-shadow: 4px 4px 16px var(--shadow) !important; 
}

.hero-image {
    max-width: 600px;
    border-radius: 30px;
    margin: 16px;
    background-color: var(--white);
    box-shadow: 4px 4px 16px var(--shadow);
}
/* I spent way too long testing out these different breakpoints to see how the image scales. There's definitely a smarter way of doing this! */
@media (max-width:1199px) {
    .hero-image {
        max-width: 500px;
    }
}

@media (max-width:768px) {
    .hero-image {
        max-width: 520px;
    }
}

@media (max-width:568px) {
    .hero-image {
        max-width: 460px;
    }
}

@media (max-width:499px) {
    .hero-image {
        max-width: 390px;
    }
}

@media (max-width:430px) {
    .hero-image {
        max-width: 320px;
    }
}

@media (max-width:375px) {
    .hero-image {
        max-width: 280px;
    }
}

#gallery h2 {
    margin-bottom: -56px;
}

#carouselExampleIndicators {
    margin: 80px 0 80px 0;
    background-color: var(--light);
    box-shadow: 4px 4px 16px var(--shadow);
    border-radius: 20px;
}

.carousel-inner {
    border-radius: 20px;
}

/* Accordion classes */

.accordion-button {
    color: var(--secondary-red);
    background-color: var(--white);
    font-size: 18px !important;
    font-weight: 500 !important;
    font-family: var(--secondary-font);
}

.accordion-button:not(.collapsed) {
    color: var(--dark);
    background-color: var(--white);
    border-top: 1px solid var(--primary-yellow)!important;
}

.accordion-body {
    padding-left: 32px;
    max-width: 600px;
}

/* Overrides the baked-in blue arrow icon*/
.accordion-button:not(.collapsed)::after {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nIzIxMjUyOSc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBkPSdNMS42NDYgNC42NDZhLjUuNSAwIDAgMSAuNzA4IDBMOCAxMC4yOTNsNS42NDYtNS42NDdhLjUuNSAwIDAgMSAuNzA4LjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOCAwbC02LTZhLjUuNSAwIDAgMSAwLS43MDh6Jy8+PC9zdmc+);
    transform: rotate(-180deg)!important;}

/* overrides default blue border on focus */
button.accordion-button:focus{
    outline: 2px solid var(--primary-yellow);
    box-shadow: 1px 1px 4px var(--shadow);
}

.card {
    border-radius: 20px;
    box-shadow: 4px 4px 16px var(--shadow);
    max-width: 540px;
}

.card img {
    border-radius: 20px 20px 0px 0px;
}

.card-body{
    padding: 32px 32px 40px 32px;
    max-width: 500px;
    margin: 0 auto;
}

#about {
    margin-bottom: 56px;
}

