:root {
    --primary-yellow: #EAB530;
    --secondary-red: #A63a05;
    --tertiary-green: #637D35;
    --white: #fefefe;
    --dark: #332a27;
    --bg-light: #f5f3EF;
    --primary-font: 'Literata', 'Georgia', serif;
    --secondary-font: 'Poppins', 'Futura', 'Century Gothic', sans-serif;
}

body {
    background-color: var(--bg-light);
    margin: 0 auto;
    padding: 0;
    font-family: var(--primary-font);
}

header {
    background-color: var(--primary-yellow);
    padding: 24px 48px;
}

h1 {
    font-family: var(--primary-font);
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -3px;
    padding: 16px;
    color: var(--dark);
}

h2 {
    font-family: var(--primary-font);
    font-size: 56px;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 16px;
    color: var(--dark);
}

h3 {
    max-width: 640px;
    padding: 16px;
    color: var(--dark);
}

footer {
    text-align: center;
}

img.logo {
    max-height: 104px;
    transition: all 0.2s ease-in-out;
}

img.logo:hover {
    border-bottom: 4px solid var(--tertiary-green);
    padding-bottom: 8px;
}

img.logo:active {
    scale: 0.95;
    background-color: var(--tertiary-green);
}